

a:focus, button:focus {
   outline: 0;
}

.inside-right {
    padding-right: 40px !important;
}
.inside-left {
    padding-left: 0px !important;
}
.finger-lightly-wrapper {
    display: flex;
    margin: 19px 0px 0px 0px;
   /*  border-bottom: 1px solid; */
    padding: 0px 0px 10px 0px;
}
img.welcome-wrapper {
    width: 86px;
    /* display: table; */
    margin: -9px 0px 0px -18px;
}
h6.panel-wrapper {
    font-size: 13px;
    text-align: justify;
}
h6.panel-wrapper1 {
    font-size: 58px;
    text-align: justify;
    margin: -4px 0px 0px 0px;
    color: #ea0c0c;
    font-weight: bold;
}
h6.panel-wrapper2 {
  font-size: 17px;
  color: #fff;
}
h6.panel-wrapper3 {
  font-size: 12px;
  color: #fff;
}
img.life-line-welcome-wrapper {
    width: 125px;
    margin: 0px 0px 0px 21px;
}
.navb {
    margin: -42px 0px 0px 0px;
}
.navb1 {
    margin: -22px 0px 0px 6px;
}
.navb2 {
    margin: -17px 0px 0px -7px;
}
.navb3 {
    margin: -14px 0px 0px -42px;
}

.vb-btn {
    background-image: linear-gradient(to right, #2C7973 , #6EB98F )!important;
    
}
/*-- main --*/
.main-row{
	height: 100%;
	padding: 5px;
	margin: 2em auto; 
	text-align:center;
}
.frame-border {
    width: 370px;
    height: 695px;
    outline: none;
    border-color: #000;
    border-width: 50px 15px;
    border-style: solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 10px auto; 
    background-size: cover;
}
.main-row h1 {
    text-align: center;
    font-size: 3.5em;
	color: #fff;
    margin-bottom:0.4em;
}
/*-- //main --*/ 
/* .carousel-indicators {
    position: relative !important; 
 margin: -25px -9px -15px 14px !important; 
   
} */

.content-h {
	height: 547px;
	overflow: auto;
	}
p {font-size: 0.9em;line-height: 1.8em;color:#555;font-weight: 400;margin-bottom: 0px;}

.username {font-weight: bold;width: 250px;margin: 0 35px 20px;height: 35px;padding: 6px 15px;border-radius: 5px;outline: none;border: none;background:#F4F4F4;color:#3c3c3c;font-size: 14px;}

.bg-spin {background-image: url(../images/2.jpg);}
.services {background:#ffe4c4;margin: 19px 25px 0px 25px;}
.text-bg{background-color: #30a49c;}



@media screen and (max-width: 450px) and (min-width: 260px) {
	.frame-border {width: auto;height: auto;outline: none;border-color:transparent;border-width: 0;border-style: none;border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;margin: 0;background-size: cover;}
	.content-h {height: 100%;}
	.main-row{margin:0px;padding: 0;}
}




#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 24px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}



.main-bg{background-image: url(../images/first_screen.jpg);background-size: cover;}
.signin-bg{background-image: url(../images/signin.jpg);background-size: cover;}

.life-line-wp{background-image: url(../images/Lifeline-FamilyBackground.png);background-size: cover;}

.t-color{color: #2C7973;}
.b-color{background-color: #2c7973;}
.g-btn{background-image: linear-gradient(to right, #2C7973 , #6EB98F )!important;}


.myform{position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 1.1rem;
        outline: 0;
        max-width: 500px;
         }       
#second{display:none;}